.title {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding-top: 20px;
}

.textarea {
	display: block;
	margin: 30px auto;
	width: 970px;
	height: 170px;
	resize: none;
	border-radius: 15px;
	padding: 10px;
}

.keyboard {
	display: flex;
	margin: 50px auto;
	text-align: center;
	width: 1000px;
	height: 320px;
	border-radius: 15px;
	align-items: top;
	flex-wrap: wrap;
	justify-content: space-between;
}

.buttons {
	font-size: 20px;
	height: 45px;
	width: 50px;
	max-width: 90px;
	margin: 4px;
	border-radius: 5px;
	border: 2px solid #000;
	color: #000;
	outline: none;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.5 ease-in-out;
}

.buttons:active {
	background-color: aquamarine;
}

._active {
	background-color: aquamarine;
}

._active-caps {
	border: 2px solid blue;
	color: blue;
}

/* backspace */
.buttons[data='13'] {
	width: 220px;
	padding: 0 35px;
}
/* tab */
.buttons[data='14'] {
	width: 70px;
}

/* delete*/
.buttons[data='28'] {
	width: 95px;
	padding: 0 5px;
}

/* caps*/
.buttons[data='29'] {
	width: 170px;
	padding: 0 20px;
}
/* Enter */
.buttons[data='41'] {
	width: 120px;
	padding-left: 40px;
}
/* Shift-left */
.buttons[data='42'] {
	padding: 0 40px;
}
/* Shift-right */
.buttons[data='54'] {
	padding-left: 60px;
	padding-right: 20px;
}
/* space */
.buttons[data='58'] {
	padding: 0 170px;
}
/* arrow-up */
.buttons[data='53'] {
	background-image: url('./assets/arrowUp.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	width: 60px;
}

/* ctrl-left */
.buttons[data='55'] {
	padding-right: 58px;
}

/* arrow-left */
.buttons[data='60'] {
	background-image: url('./assets/arrowLeft.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	width: 60px;
}
/* arrow-down */
.buttons[data='61'] {
	background-image: url('./assets/arrowDown.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	width: 60px;
}
/* arrow-right */
.buttons[data='62'] {
	background-image: url('./assets/arrowRight.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	width: 60px;
}

/* ctrl-right */
.buttons[data='63'] {
	width: 60px;
}

.description {
	display: block;
	margin: 0 auto;
	text-align: center;
}
